.App-header-cancelamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  background-color: #282c38;
}

.title {
  font-size: 100%;
}

.alert {
  display: flex;
  align-items: center;
  font-size: small;
  height: 20px;
}

.description {
  width: 450px;
  padding: 20px;
  font-size: 10pt;
}

.alertCode {
  display: none;
  justify-content: center;
  margin: 10px;
  color: #dd4242;
}

.displayList {
  background-color: transparent;
  border: none;
  color: white;
}

#get-tab {
  font-size: medium;
}

@media (width <= 670px){
  textarea, input {
    width: 300px;
  }
  .description, .App-header-cancelamento {
    width: 344px;
  }
}