.App-header-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Funções da tabela */
.tableStyle {
  position: sticky;
  width: (400px, 800px);
  height: 250px;
}

.tableStyle tr {
  scroll-snap-align: start;
}

.spaceRow {
  display: flex;
  justify-content: space-between;
  background-color: #3c7451;
  width: 100%;
  height: 100%;
}

.spaceRow:hover {
  background-color: #44865d;
}

.spaceCol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}

.spaceName {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 380px;
}

.btnTable {
  margin: 3px;
}

.tabScroll {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #fcfcfc42 #282c38;
  scroll-snap-type: y mandatory;
  font-size: medium;
  width: 100%;
}

.tabScrollDesc {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  scrollbar-width:none;
  scroll-snap-type: y mandatory;
  width: 100%;
}

.tabScroll:hover {
  scrollbar-color: #fcfcfc42 #282c38;
  transition: 1s;
}

@media (width <= 670px){
  .spaceName {
    width: 200px;
  }
  .tabScroll {
    width: 300px;
  }
  .tabScrollDesc {
    width: 500px;
  }
}