.App-header-list {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputList {
  width: 300px;
  height: 30px;
  margin: 5px;
  font-size: medium;
}

/* Funções da tabela */
.tableStyle {
  position: sticky;
  width: (400px, 800px);
  height: 250px;
}

.tableStyle tr {
  scroll-snap-align: start;
}

.colWidth {
  width: 200px;
}

.btnTable {
  margin: 3px;
}

.tabScroll {
  background-color: #fcfcfc42;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #fcfcfc42 #282c38;
  scroll-snap-type: y mandatory;
  font-size: medium;
  width: 400px;
}

.tabScrollDesc {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  scrollbar-width:none;
  scroll-snap-type: y mandatory;
  width: 450px;
}

.tabScroll:hover {
  scrollbar-color: #fcfcfc42 #282c38;
  transition: 1s;
}

@media (width <= 670px){
  .tabScroll {
    width: 300px;
  }
}