.Main-Style {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: column;
}

.Form-Style {
  display: flex;
  text-align: start;
  flex-direction: column;
  background-color: #95b9a2;
  color: #222c42;
  width: 800px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.alignSearch {
  display: flex;
  justify-content: end;
}

.searchItem {
  border: none;
  width: 200px;
  height: 30px;
  margin: 5px;
  font-size: medium;
}

#codControl {
  display: none;
}

#exib {
  display: none;
  flex-direction: column;
  background-color: #95b9a2;
  width: 800px;
  padding: 10px;
}

.ButtonBox {
  display: flex;
  justify-content: space-between;
}

.PrimaryGroup {
  display: flex;
  justify-content: start;
}

.SecondaryGroup {
  display: flex;
  justify-content: end;
}

@media (width <= 670px){
  .Form-Style, #exib {
    width: 330px;
  }
  .alignSearch {
    justify-content: center;
  }
  .SecondaryGroup {
    justify-content: center;
  }
}